.duvida {
  width: 60;
  height: 60;
  display: 'flex';
  align-Items: 'center';
  justify-Content: 'center';
  font-Size: 32;
  cursor: 'pointer';
  border-Right: '1px solid black';
}


.mensagem-vitoria {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: red;
  background-color: white;
  padding: 1rem 2rem;
  border: 2px solid black;
  border-radius: 10px;
  z-index: 20;
}
