.chessGameContainer{
  color: black;
  position: relative;
  width: 540px;
  height: 540px;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto
}


.tabuleiro{
  display: grid;
  grid-template-rows: repeat(8, 60px);
  text-align: center;
}

.casas{
  width: 60px;
  height: 60px; 
  font-size: 40px;
  text-align: center;
  box-sizing: border-box;
  line-height: 60px;
  cursor: pointer;
  font-weight: 500px
}

/* Letras */

.divLetrasNoTopo{
  display: grid;
  grid-template-columns: repeat(8, 60px);
  text-align: center;
  padding-bottom: 10px;
}

.divNumerosAoLado{
  display: grid;
  grid-template-rows: repeat(8, 60px);
  text-align: center;
}

.numeros{
  color: white;
  padding-right: 10px;
  font-weight: bold;
  line-height: 60px;
}


/* Container do tabuleiro/ promocao e mensagem */

.sectionTabuleiroContainer {
  display: flex;
  align-items: center;
  justify-content: center;


  position: relative;
  width: 480px;
  height: 480px;
}

.renderizacaoDoTabuleiro {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
}


.destino {
  background-color: rgba(0, 255, 0, 0.4);
}



.destino::after {
  content: '';
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}





.promocaoContainer{
  display: flex;
  background: #f0f0f0;
  border: 6px solid black;
  z-index: 10;

  border-radius: 8px;
}

.promocaoPeca {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.promocaoPeca:hover{
  background: yellow;
}


.mensagemVitoria {
  display: flex;
  justify-content: center;
  align-items: center;
 
  width: 70%;
  height: 50%;
  padding: 1rem;

  background-color: black;
  color: white;

  font-size: 28px;
  font-weight: bold;
  text-align: center;

  position: absolute;

  border-radius: 8px;

  border: solid 5px white;

  outline: solid 5px black;

  z-index: 20px;

}
