.conteudo{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2em;

    width: 100%;
    height: 100vh;
}

.bRetornar {
    box-sizing: border-box;
    padding: 1em 2em;
    cursor: pointer;
    background: var(--gray-800);
    font-weight: 800;

    border-radius: 8px;

    color: var(--white);
    border: 4px solid black;

    margin-bottom: 3em;
    
}

.bRetornar:hover {
    background: var(--gray-600);
}
